* {
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}

h2 {
    display: inline-block;
    position: relative;
    font-size: 2.5rem;
    color: #9c918c;
    display: flex;
    justify-content: center;
}

h2::after {
    content: '';
    background-color: #786b67;
    position: absolute;
    width: 8%;
    height: 7%;
    bottom: 1%;
    right: 46%;
}

h3 {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}

h4 {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: #9c918c;
    margin-block: 1rem;
}

p {
    margin-block: 1rem;
}

span {
    font-family: 'Lobster', cursive;
}

button {
    color: white;
    background-color: #786b67;
    font-size: 1rem;
    font-weight: 500;
    margin-block: 1rem;
    padding: 0.8rem 1.2rem;
    border: 0;
    border-radius: 100vw;
    cursor: pointer;
    transition: transform 0.5s;
}

button:hover {
    transform: scale(1.1);
}

.sectionImg {
    position: relative;
    width: 25rem;
    /* background-color: #786b67; */
    aspect-ratio: 1/1;
}

.sectionImg img {
    width: 100%;
    position: absolute;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.flex {
    display: flex;
}

.container {
    padding: 3rem 1rem;
    background-color: #9c918c;
}

header {
    color: white;
    background-color: #9c918c;
    padding: 1rem 1.5rem;
}

header nav {
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;
}

header nav span {
    display: none;
}

header nav ul {
    list-style: none;
    gap: 1rem;
}

header nav ul li {
    padding: 0.4rem;
    border-radius: 1rem;
}

header nav ul li:hover {
    background-color: #786b67;
}

header nav ul a {
    text-decoration: none;
    color: inherit;
}

header #Home {
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

header #Home img {
    height: 30rem;
    aspect-ratio: 1/1;
}

header #Home div {
    font-size: 2rem;
    gap: 1rem;
}

header #Home div i {
    cursor: pointer;
}

header #Home div i:hover {
    color: #786b67;
}

#About {
    background-color: white;
}

#About .container {
    background-color: transparent;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

#About .sectionImg {
    background-color: #786b67;
}

#About .myInfo {
    width: 40rem;
}

#Skills {
    color: #786b67;
    background-color: transparent;
}

#Skills .flex {
    background-color: transparent;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

#Skills .sectionImg {
    object-fit: cover;
    background-color: black;
}

#Skills .sectionImg img {
    opacity: 0.5;
}

#Skills .flex .skills {
    background-color: transparent;
    width: 35rem;
    flex-direction: row;
    gap: 4em;
}

.skills h3 {
    font-family: 'Exo 2', sans-serif;
}

.skills div {
    position: relative;
    width: 100%;
}

.skills div::before,
.skills div::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -60%;
    height: 25%;
}

.skills div::before {
    /* width: 80%; */
    background-color: #786b67;
    z-index: 2;
}

.skills div::after {
    border: 1px solid black;
    width: 100%;
    background-color: white;
}

.skills #skill1::before {
    width: 90%;
}

.skills #skill2::before {
    width: 60%;
}

.skills #skill3::before {
    width: 50%;
}

#Work h2 {
    color: white;
}

#Work #workCardList {
    align-items: center;
    justify-content: center;
    gap: 3rem 6rem;
    flex-wrap: wrap;
}

#Work #workCardList .card {
    position: relative;
    background-color: black;
    height: 15em;
    aspect-ratio: 1.5/1;
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 0px 0px 19px 5px grey;
}

#Work #workCardList .card img {
    opacity: 0.9;
    height: 100%;
    aspect-ratio: 1.5/1;
    border-radius: 1em;
    transition: all 0.25s;
}

#Work #workCardList .card button {
    display: none;
    position: absolute;
    top: 40%;
    left: 32%;
    transition: all 0.25s;
}

#Work #workCardList .card:hover img {
    transform: scale(1.15);
    filter: blur(2.5px);
}

#Work #workCardList .card:hover button {
    display: block;
}

#Contact {
    padding: 3rem;
    background-color: purple;
    background-image: url(Images/women.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#Contact #level1 {
    color: white;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
    flex-wrap: wrap;
}

#Contact h2 {
    margin-bottom: 3rem;
    color: white;
}

#Contact #contactInfo {
    flex-direction: column;
    gap: 2em;
}

#Contact #contactInfo .contactCon {
    flex-direction: column;
    width: 12rem;
    gap: 1em;
}

#Contact #level1 #contactInfo .contactCon i {
    color: gold;
    margin-right: 0.2em;
}

#Contact #contactInfo .contactCon span {
    font-family: 'Exo 2', sans-serif;
}


#Contact #contactInfo .contactCon i,
#Contact #contactInfo .contactCon span {
    font-size: 2.5em;
}

#Contact #contactInfo form {
    width: 35rem;
    font-size: 1.5em;
}

#Contact form input {
    background-color: transparent;
    width: 100%;
    height: 2.5rem;
    border: solid 0.2em #fff;
    margin-block: 1em;
}

#submit {
    cursor: pointer;
    color: grey;
    background-color: white !important;
    width: 6em !important;
    border-radius: 100vw;
}

#footer {
    color: white;
    background-color: #35363A;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

#footer div i {
    font-size: 2em;
}

#footer #socialLogos {
    gap: 1em;
}

#footer #socialLogos i {
    cursor: pointer;
}

#footer #socialLogos i:hover {
    color: #786b67;
    cursor: pointer;
}


/* media queries */

@media (max-width:1100px) {

    header nav span {
        display: block;
        z-index: 10;
        font-size: 2em;
    }

    header #nav {
        z-index: 9;
        position: fixed;
        height: 100%;
        top: 0;
        width: 35rem;
        background-color: #9c918c;
        box-shadow: ;
    }

    header nav ul {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    header nav ul li {
        margin: 2rem 0;
    }

    header nav ul li a {
        font-size: 4em;
    }

    .nav-toggle {
        left: -100%;
    }

}